html(lang="en")
  head
    title= pageTitle

  body
  
    div
      table
        thead
          tr: th Notifications
        tbody
          each notification, i in notifications
            tr
              td
                #{notification.uid}
              td
                #{notification.event}
              td
                #{notification.category}
              td
                #{notification.categoryCount}
              td 
                - if (notifications.date)
                  #{notification.date}
              td 
                - if (notifications.title)
                  #{notification.title}
              td 
                - if (notifications.subtitle)
                  #{notification.subtitle}
              td 
                - if (notifications.message)
                  #{notification.message}
            - if (notifications.versions)
              each ver, j in notifications.versions
                tr
                  td
                    Ver: #{j}
                  td
                    #{ver.uid}
                  td
                    #{ver.event}
                  td
                    #{ver.category}
                  td
                    #{ver.categoryCount}
                  td 
                    - if (var.date)
                      #{ver.date}
                  td 
                    - if (var.title)
                      #{ver.title}
                  td 
                    - if (var.subtitle)
                      #{ver.subtitle}
                  td
                    - if (var.message) 
                      #{ver.message}         