html(lang="en")
  head
    title= pageTitle

  body
  
    div
      table
        thead
          tr: th Notifications
            td Event ID
            td Category
            td Count
            td Date
            td Title
            td Subtitle
            td Message
        tbody
          each notification, i in notifications
            tr
              td #{notification.uid}
              td #{notification.event}
              td #{notification.category}
              td #{notification.categoryCount}
              td #{notification.date}
              td #{notification.title}
              td #{notification.subtitle}
              td #{notification.message}
            if notifications.versions
              each ver, j in notifications.versions
                tr
                  td Ver: #{j}
                  td #{ver.uid}
                  td #{ver.event}
                  td #{ver.category}
                  td #{ver.categoryCount}
                  td #{ver.date}
                  td #{ver.title}
                  td #{ver.subtitle}
                  td #{ver.message}         